@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --pageBGColor: #FFFFFF;
  --navBarBG: #212121;
  --textColor: #F0F0F0;
  --sideMenuBG: #22376F;
  --sideMenuBG-dark: #1E3264;
  --sideMenuText: #2980B9;
  --sideMenuTexe-dark: #979797;
  --buttonColor : #2C3E50;
}

/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/

body {
  line-height: 1.5;
  color: var(--textColor);
  background-color: var(--pageBGColor);
  width: 100vw;
  height: 100vh;
   overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: var(--textColor);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


#app-root {
  height: 100vh;
}

.modal--mask {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9998;
}

.modal-window {
  background-color: rgb(125, 125, 125);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  min-width: 50%;
}

.modal--header,
.modal--body,
.modal--footer {
  margin: 0;
  padding: 1rem;
  /*transform: translate(50%, 50%);*/
}

.modal--header h1 {
  margin: 0;
  padding: 0;
}

.modal--footer {
  display: flex;
  justify-content: flex-end;
  column-gap: 1rem;
}

.modal-button{
  border-radius: 10px;
  color: var(--textColor);
  background-color: var(--buttonColor);
}
.modal--close-button{
  border-radius: 10px;
  color: var(--textColor);
  background-color: var(--buttonColor);
}

.modal-select{
  border-radius: 10px;
  color: var(--textColor);
  background-color: var(--buttonColor);
}

.modal-input{
  border-radius: 10px;
  color: var(--navBarBG);
  background-color: var(--pageBGColor);
}