
.sideBar {
    display: block;
    border-radius: 1%;
    height: 100%;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--sideMenuBG);
    opacity: 0.9;
    overflow-x: hidden;
    margin-top: 6vh;
    /*transition: 0.3s;*/
}

@media (max-width: 599px)  {
    .sideBar{
        display: none;
    }
}

.sideBar a {
    margin: 5% 5% 5% 5%;
    padding: 3vh 3vw 3vh 9vh;
    text-decoration: none;
    color: var(--textColor);
    display: block;
    /*transition: 0.3s;*/
}


.sideBar .btn-close {
    width: 100%;
    color: var(--textColor);
    position: absolute;
    text-align: right;
    padding: 1vh 1vw 1vh 3vh;
    margin: 0;
    top: 0;
    right: 0vw;
    font-size: 6vh;
    /* margin-left: 10vw; */

}

.sideBar .dropdownBtn {
    padding: 3vh 3vw 3vh 9vh;
    text-decoration: none;
    font-size: 16px;
    background-color: var(--sideMenuBG);
    color: var(--textColor);
    display: block;
    border: none;
    /*transition: 0.3s;*/
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sideBar a:hover, .dropdownBtn:hover {
    color: var(--sideMenuTexe-dark);
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    /* display: none; */
    background-color: var(--sideMenuBG-dark);
    padding-left: 8px;
}

.sideBar p .error {
    padding: 3vh 3vw 3vh 9vh;
    text-decoration: none;
    color: var(--textColor);
    display: block;
    /*transition: 0.3s;*/
}